 body {
                margin: 0;
                padding: 0;
                background: #bdb0eef0;
                font-family: 'Poppins', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .cadastro-box {
                background: #ffffff;
                padding: 30px;
                width: 400px;
                border-radius: 20px;
                box-shadow: 0 0 20px rgba(255, 161, 195, 0.25);
                text-align: center;
            }

            .cadastro-box h1 {
                color: #000000;
                margin-bottom: 25px;
                font-size: 28px;
            }

            .cadastro-box label {
                display: block;
                text-align: left;
                font-weight: bold;
                margin-bottom: 6px;
                color: #444;
            }

            .cadastro-box input {
                width: 90%;
                padding: 12px;
                margin-bottom: 18px;
                border: 2px solid #5757575b;
                border-radius: 10px;
                font-size: 15px;
                transition: 0.3s;
            }

            .cadastro-box input:focus {
                border-color: #000000;
                outline: none;
                box-shadow: 0 0 5px #bdb0eef0;
            }

            .btn-cadastro {
                width: 100%;
                padding: 14px;
                background: #3500f5f0;
                border: none;
                border-radius: 12px;
                color: white;
                font-size: 17px;
                cursor: pointer;
                transition: 0.3s;
            }

            .btn-cadastro:hover {
                background: #bdb0eef0;
            }

            .login-link {
                display: block;
                margin-top: 15px;
                font-size: 14px;
                color: #ff0000f0;
                text-decoration: none;
            }

            .login-link:hover {
                text-decoration: underline;
            }
